.searchbar {
    font-family:Segoe UI;
    color :rgb(0, 0, 0);
    text-align: right;
    font-size: 2em;
    overflow: auto;
    text-decoration:none;
}

.route a {
    font-family:Segoe UI;
    color :rgb(0, 0, 0);
    text-align: center;
    font-size: 2em;
    overflow: auto;
    text-decoration:none;
}

.general {
    height: 8%;
    border: 1px solid;
    color:aliceblue;
}